<!--The content below is only a placeholder and can be replaced.-->
<div class="app-content">
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2>Here are some links to help you start: </h2>
    <ul>
        <li>
            <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
            <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
        </li>
        <li>
            <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
    </ul>
    <p>
        Lorem ipsum dolor amet biodiesel tofu humblebrag blog, mixtape air plant brunch portland. Typewriter gentrify microdosing blog bushwick live-edge sriracha lomo meggings. Letterpress taxidermy kickstarter mumblecore, kombucha taiyaki cardigan salvia. Thundercats blog crucifix artisan, copper mug master cleanse schlitz intelligentsia. Freegan prism flannel pork belly forage, keffiyeh organic. La croix tacos jean shorts selfies farm-to-table, cold-pressed taiyaki direct trade kinfolk wolf bespoke edison bulb hell of. Sustainable butcher mumblecore neutra helvetica, aesthetic yuccie.

        Next level church-key tilde tumeric pickled shabby chic paleo sartorial. DIY echo park wayfarers meh, lo-fi aesthetic slow-carb fam cronut tbh poke four dollar toast prism snackwave crucifix. Poutine synth 90's vegan freegan lo-fi artisan crucifix kitsch. Brunch narwhal distillery freegan health goth prism woke deep v salvia cred.
        
        Normcore ethical 8-bit, meh air plant cloud bread tacos yr. Dreamcatcher four dollar toast kickstarter hell of mixtape. Enamel pin cold-pressed letterpress direct trade. Drinking vinegar kitsch slow-carb lyft snackwave gentrify. Cred mumblecore poke, tumblr chicharrones cliche meggings cold-pressed bespoke sustainable try-hard hexagon humblebrag tattooed. Irony neutra pinterest celiac, banh mi man bun cray scenester. Portland echo park wolf swag keffiyeh ugh banh mi copper mug biodiesel flexitarian.
        
        Portland mlkshk cliche migas. Next level vegan pabst bicycle rights typewriter adaptogen forage, art party listicle selfies photo booth. Four dollar toast irony viral hexagon seitan cray meggings vinyl tousled direct trade vape. 90's vexillologist hexagon lyft pour-over, +1 cronut activated charcoal shoreditch. 8-bit distillery photo booth air plant humblebrag shaman pug raw denim stumptown. Street art cred cardigan, polaroid bitters trust fund pour-over bespoke. Direct trade occupy chillwave kinfolk kogi, beard dreamcatcher austin yuccie.
        
        Stumptown bushwick intelligentsia wolf, aesthetic fanny pack shoreditch keffiyeh jean shorts post-ironic. Vinyl occupy bicycle rights fam cloud bread truffaut viral tilde disrupt VHS vexillologist quinoa. Wayfarers chia pitchfork pork belly banjo ethical taiyaki messenger bag subway tile vegan seitan man bun activated charcoal trust fund fingerstache. Meggings echo park adaptogen chillwave 3 wolf moon hexagon. Pour-over meditation hell of bitters stumptown aesthetic fashion axe schlitz heirloom paleo subway tile keffiyeh williamsburg polaroid whatever.
        
        Oh. You need a little dummy text for your mockup? How quaint.
        
        I bet you’re still using Bootstrap too…
    </p>    
</div>
<app-tray></app-tray>
